# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Code for fun\GitCommitCounter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
